
.displayContainer_1 {
    margin-left: 15%;
    margin-right: 15%;
    padding: 0;
    width: 65%;    
	border: 4px solid black;
	display: inline-block;
	position: relative;
}
.displayContainer_1 svg {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.displayContainer_1 span {
    position: absolute;
    bottom : 0;
    left: 0;
    /*z-index: 1;*/
}

.displayContainer_1 svg path {
    fill: #AAA;
    transition: fill .4s ease-out; 
}
 

.displayContainer_1 svg path:hover {
    fill:#FFF;
    stroke:black;
    pointer-events:all;
}