<!DOCTYPE HTML>
<html>
	<body>
		<hr>
		{{one}}
		<hr>
		<ul>
			{{#each a}}
				<li>{{this}} is the number</li>
			{{/each}}
		</ul>
		<hr>
		<hr>
		<p>HI THERE!!! It appears that {{user.name}} is a(n)</p>
		<ul>
			{{#each user.roles}}
				<li>{{this}} </li>
			{{/each}}
		</ul>

		<hr>
		<p>HI <br> THERE!!!</p>
		<hr>
		<p>HI THERE!!!</p>
		<hr>
		<p>HI THERE!!!</p>
	</body>
</html>`