<!DOCTYPE html>
<html>

  <head>
  	<title>This is the title in the address bar!</title>
    <meta charset="utf-8">
    <title>My test page</title>


    <style type="text/css">

		/* -------------------------- */
    	/* BEGIN TOP MENU NAV BAR CSS */
    	/* -------------------------- */

		div.top-nav {
			position: relative;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: auto;
			height: 50px;
			width: auto;
		}
		ul.top-horizontal {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #333;
		}
		/*float li's left*/
		.lefty {
			float: left;
		}

		/*float li's right*/
		.righty {
			float: right;
		}

		.top-menu a {
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}
		/* -------------------------- */
    	/* END TOP MENU NAV BAR CSS */
    	/* -------------------------- */

    </style>
  </head>

  <body>

<div class="top-nav">
    <ul class="top-horizontal">
      <li class="top-menu lefty"><a href="https://director.tjhsst.edu/">Director</a></li>
      <li class="top-menu lefty"><a href="https://user.tjhsst.edu/pckosek/">Home</a></li>
      <li class="top-menu righty"><a href="logout">Logout</a></li>
    </ul>
</div>

  	<h1>Major Heading</h1>

  	<h3>Smaller Heading</h3>

  	<h6>Teensy Heading</h6>
  	
  	<div>
  		<p>
  			Your number is: {{special_number}}
  		</p>

  	</div>

  </body>


</html>